#big-black-box {
    background-color: black;
  
    font-size: 2vh;
    color: cornsilk;
    height: 100vh;
    text-align: center;
  }

  .first {
    align-items: center;
    text-align: center;
  }

  .last {
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }
  .DOB {
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  .btn {
    align-items: center;
    text-align: center;
  }

  .title {
    text-align: center;
  }